body {
	margin: 0;
	text-align: center;
	font-family: 'Mallanna', sans-serif;
}
#home-background {
	background-image: url("../img/field.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}
#home-text {
	font-size: 120px;
	font-family: 'Cabin Sketch';
	text-align: left;
	padding-left: 80px;
	padding-top: 30px;
	font-weight: bold;
	letter-spacing: 2px;
}
.overlay {
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.6;
}
